.action-link {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.action-button {
    width: 30%;
    height: 2.875rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d64e5;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 100px;
}

